<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>***</title>
   <link rel="stylesheet" href="tailwind.css">
</head>
<body class="w-screen h-screen flex flex-row justify-center items-center">
   <form method="post" action="/password">
      <div>
         <label>password:</label>
         <input type="password" name="password" class="border">
      </div>
      <button type="submit" class="text-center border-[0.1rem]">submit</button>
   </form>
</body>
</html>